<section data-ng-controller="IntroController">
<div class="questionContainer container">

	<div class="row"><div class="col-md-8 col-md-offset-2">
		<div class="row" id="instructions"><div class="col-md-12">
			<h1>Welcome!</h1>
			<p>This is test will ask you to evaluate different visual filters for privacy protection of faces.</p>
		</div></div>
	</div></div>

	<div class="row"><div class="col-md-8 col-md-offset-2">
		<div class="row" id="button">
    	<div class="col-md-12">
    	<button class="btn btn-primary" ng-click="start()">Start</button>
    	</div>
		</div>
	</div></div>

</div>
</section>