doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
	include ../includes/head
	body
		.navbar.navbar-inverse.navbar-fixed-top
			div(class='navbar-nav nav', data-role='navigation')
				li
					a.navbar-brand(href= '#') Subjective Evaluation of Visual Privacy Filters

		section.content
			section.container
				block content

		include ../includes/foot
